name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches:
      - '*'

permissions:
  contents: read

# TODO: Mock the actual call to pushover, instead of actually doing it.

jobs:
  run_fail:
    runs-on: ubuntu-20.04
    steps:
    - name: Git checkout
      uses: actions/checkout@v3

    - name: Script permissions
      run: chmod +x ./pushover.sh

    - name: Run script expect fail
      #continue-on-error: true
      run: |
        ./pushover.sh -v -t badtoken -u badkey -d baddevice -T Github Action Fail -m Github Action Fail || (( $? == 2 )) && exit 0 || exit $?

  run_cli:
    runs-on: ubuntu-20.04
    steps:
    - name: Git checkout
      uses: actions/checkout@v3

    - name: Script permissions
      run: chmod +x ./pushover.sh

    - name: Run script with Args
      run: |
        echo "disabled"
        #./pushover.sh -v -t ${{ secrets.PUSHOVER_APP }} -u ${{ secrets.PUSHOVER_USER }} -d ${{ secrets.PUSHOVER_DEVICE }} -T Github Action Args -m Github Action Args

  run_config:
    runs-on: ubuntu-20.04
    steps:
    - name: Git checkout
      uses: actions/checkout@v3

    - name: Script permissions
      run: chmod +x ./pushover.sh
    
    - name: Run script from config
      run: |
        cp ./pushover-config-test ./pushover-config
        sed -i "s#__PUSHOVER_USER__#${{ secrets.PUSHOVER_USER }}#g" ./pushover-config
        sed -i "s#__PUSHOVER_APP__#${{ secrets.PUSHOVER_APP }}#g" ./pushover-config
        sed -i "s#__PUSHOVER_DEVICE__#${{ secrets.PUSHOVER_DEVICE }}#g" ./pushover-config
        echo "disabled"
        #./pushover.sh -v -m Github Action Config
